        span.math {
            font-size: 0.7rem;
        }

        span.math-space {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }

        div.math {
            text-align: center;
            font-size: 0.8rem;
        }